---
import Layout from '../layouts/Layout.astro';
import Login from '../components/login.astro';
---

<Layout title="Dashboard Parceritos">
	<main >
		<Login />
	</main>
</Layout>

<style>
	
</style>
